<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>Password Generator</h1>
    <form action={% url 'result' %}>
        <div class="full">
            <div class="len s1">
                <p>Enter the length of the password.</p>
                <select id="len" name="length">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8" selected>8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
            </div>
            
            <div class="selection s2">
                <p>Do you want to make your password more complex ?</p>
                <input type="checkbox" name="upper" id="b_char_up">
                <label for="b_char_up">Uppercase</label>
                <br>
                <input type="checkbox" name="number" id="b_num">
                <label for="b_num">Numbers</label>
                <br>
                <input type="checkbox" name="special" id="b_spl">
                <label for="b_spl">Special Characters</label>
            </div>
            <div class="s3">
                <input class="btn" type="submit" value="Submit">
                <input class="btn" type="reset" value="Reset">
            </div>
        </div>
    </form>
</body>

</html>