<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% if user.is_authenticated %}

    <h3>Logged in as {{user.username}}</h3>

    <form action="{% url 'log_out' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    {% else %}
    <a href="#">Sign up</a>
    <a href="#">Log in</a>

    {% endif %}

    {% block content %}
    {% endblock %}
</body>

</html>